.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
margin-right: 20px;
border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
}

.profile__edit-button {
  margin-top: auto;
  border: none;
  background-color: #FCF5E5;
  display: flex;
}

.profile__plus-button {
margin-left: auto;
width: 149px;
height: 52px;
background-color: #212121;
color: #FCF5E5;
border-radius: 8px;
}

.profile__plus-button-move {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin: 138px 0 20px 1131px;
  position: absolute;
}